<div class="game-container">
  <h1>Guess The Number Game</h1>
  <p>Guess the number between 1 and 100</p>
  <div *ngIf="!gameOver">
    <label for="guess">Your Guess:</label>
    <input
      type="number"
      id="guess"
      [(ngModel)]="gussedNumber"
      [disabled]="gameOver"
      min="1"
      max="100"
      placeholder="Enter a Number"
    />

    <button (click)="submitGuess()" [disabled]="!isValidGuess(gussedNumber)">
      Submit Guess
    </button>

    <p>Attempts Left : {{ attemptsLeft }}</p>
  </div>

  <div *ngIf="feedbackMessage" class="feedback">
    <p>{{ feedbackMessage }}</p>
  </div>
  <div *ngIf="gameOver">
    <button (click)="resetGame()">Play Again</button>
  </div>
</div>
